.h{
    background-color: rgb(201, 202, 202);

    margin-bottom: 5px;
    margin-top: 5px;
    height: 50vh;
    width: 55vh;

    border-radius: 5%;
    padding: 25px;
}

.n{
    font-size: 15px;
}

.p{
    background-color: rgb(201, 202, 202);
    border-radius: 10%;
    width: 40%;
    height: 40%;
}